* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

.header {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0 20px;
}
.header-title {
  text-align: center;
  color: rgb(4, 4, 67);
}
.header-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 20px;
  color: rgb(13, 13, 122);
}
.header-link {
  font-size: 23px;
}
.header-link:hover {
  cursor: pointer;
}
.header-link-active{
  color: rgb(30, 30, 197);
  text-decoration: underline;
}
.main {
  max-width: 1600px;
  margin: 30px auto 50px;
  padding: 0 20px;
}
.flights {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;
  justify-items: center;
}
.flights-inner {
  cursor: pointer;
  transition: all 0.8s ease;
}
.flights-inner:hover {
  transform: scale(105%);
}
.card-actions {
  justify-content: space-between;
}
.card-btns {
  display: flex;
  gap: 10px;
}



/* Details */
.seats{
  display: flex;
  justify-content:space-evenly;

}
.seats-inner{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.seats-header{
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 10px;
}
.seat-row{
  display: flex;
  gap: 10px;
}
.seat{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 24px;
}
.seats-notes{
  margin-top: 5px;
  margin-bottom: 10px;
}
.free {
  background-color: rgb(124, 204, 124);
  color: white;
  cursor: pointer;
}
.occupied {
  background-color: rgb(241, 125, 125);
  color: white;
}
.selected {
  background-color: rgb(237, 237, 118);
  color: black;
  cursor: pointer;
}
.flight-info p{
  font-size: 20px;
}
.flight-info-header{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.flight-info-tickets{
  margin-top: 15px;
}
.flight-info-price{
  margin-top: 10px;
  font-size: 30px;
}
.flight-info-price span{
  font-weight: bold;
}









@media (max-width: 1485px) {
  .flights {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .flights {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 585px) {
  .flights {
    grid-template-columns: repeat(1, 1fr);
  }
  .seats{
    flex-direction: column;
  }
}
